* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Poppins","Rubik",sans-serif;
  padding: 20px;
}

input,textarea{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #222;
  border-radius: 5px;
  outline: none;
  font-family: "Poppins",sans-serif;
  display: inline-block;
  margin: 10px;
}
button{
  padding: 10px 36px;
  border: 2px solid #333;
  font-size: 18px;
  background-color: #222;
  color: #fff;
  border-radius: 6px;
  margin: 10px;
}